.sticky{
  top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}
.black-color{
  color: #dc3545;
}
body{
    /* background: #e85a4f; */
    background-color: #eae7dc;
}
#color-apply{
    background-color: #e85a4f;
    padding-left: 100px;
  }
  .table{
    margin-top: 70px;
    border: 2px solid rgb(8, 8, 8);
  }
  .center{
    text-align: center;
  }
  .head-down{
    padding-top: 70px;
}
.img-thumbnail{
    /* height: 300px; */
    object-fit: cover;
    height: 250px;
    width: fit-content;
}
h1{
    margin-top: 70px;
}
/* .navbar-dark .navbar-nav .nav-link:hover{
    color:black;
}
a:hover{
    color:black
}
.navbar-dark .navbar-brand:hover{
 color:black
} */
